@charset "UTF-8";

body{
    background-color: rgb(0, 3, 3);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
h1{
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
h2{color: chartreuse;}
p{ color: antiquewhite;}